/* css reset */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* chicko font family */

/* yekan booom */
@font-face {
  font-family: "Yekan-boom";
  src: url("https://res.cloudinary.com/dvcti5qab/raw/upload/v1613044910/Yekan_Boom_joncwq.woff2")
      format("woff2"),
    url("https://res.cloudinary.com/dvcti5qab/raw/upload/v1613044905/Yekan_Boom_xmxx1z.ttf")
      format("truetype");
}

.chicko-fontfamily-fa-yeakn {
  font-family: "Yekan-boom";
}

/* Btitr */

@font-face {
  font-family: "Btitr";
  src: url("https://res.cloudinary.com/dvcti5qab/raw/upload/v1613045408/BTitrBd_hzkgar.ttf")
    format("truetype");
}

.chicko-fontfamily-fa-btitr {
  font-family: "Btitr";
}

/* farsi-mj */
@font-face {
  font-family: "fa-mj";
  src: url("https://res.cloudinary.com/dvcti5qab/raw/upload/v1613045629/Mj_SS_Three_Light_k6yha4.ttf")
    format("truetype");
}

.chicko-fontfamily-fa-famj {
  font-family: "fa-mj";
}

/* en font */

/* sofia */
@font-face {
  font-family: "Sofia";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sofia/v9/8QIHdirahM3j_su5uI0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.chicko-fontfamily-en-sofia {
  font-family: "Sofia";
}

/* Audiowide */

@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/audiowide/v9/l7gdbjpo0cum0ckerWCdlg_O.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.chicko-fontfamily-en-audiowide {
  font-family: "Audiowide";
}

/* tiangol */
@font-face {
  font-family: "Trirong";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/trirong/v6/7r3GqXNgp8wxdOdOn4so2A.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.chicko-fontfamily-en-Trirong {
  font-family: "Trirong";
}

/* modal code */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* main close icon */
.gg-close {
  color: #f14b35;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 5rem;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 5rem;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}

/* close btn icon */
.gg-close-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}
.gg-close-r::after,
.gg-close-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}
.gg-close-r::after {
  transform: rotate(-45deg);
}

/* ----------------- main code ----------- */

.hidden {
  display: none !important;
}

.modal-overlay {
  background-color: gray;
  opacity: 50%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  cursor: pointer;
}

#modal-error {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.modal-container {
  font-family: "Source Code Pro", monospace;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: auto;
  min-width: 300px;
  background-color: #24272e;
  padding: 2rem;
  border-radius: 7px;
  color: white;
}

.modal-close-btn {
  background-color: none;
}

.modal-close-btn:hover {
  background-color: gray;
  cursor: pointer;
}

.modal-row {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.modal-icon-close-container {
  padding: 2rem;
}

.modal-describe {
  padding-top: 3rem;
}

.modal-ok-btn {
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
  background-color: #f14b35;
  color: white;
  padding: 0.7rem;
}

.modal-ok-btn:hover {
  opacity: 80%;
}

#open-modal {
  color: white;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  background-color: royalblue;
  width: 7%;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#open-modal:hover {
  opacity: 95%;
}
